<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ecuation.fussball" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Smart Home</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="juand.diazd@gmail.com" href="http://www.ecuation.com">
        Juan David Diaz
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="img/app/home_72.png" width="72" height="72" />
    <icon src="img/app/home_48.png" width="48" height="48" />
    <icon src="img/app/home_36.png" width="36" height="36" />
</widget>
